@media (max-width: 1320px) {
    .img-allergy img {
        width: 150px;
    }
}

@media (max-width: 1200px) {
    .container {
        margin: 0 50px;
    }

    .legs {
        display: none;
    }

    .top-header {
        padding: 15px 0;
    }

    .main-header {
        flex-direction: column;
        justify-content: center;
    }

    .info {
        flex-basis: 100%;
        margin-top: 50px;
    }

    .mikocin {
        flex-basis: 100%;
    }

    .mikocin img {
        text-align: center;
        margin: 0 auto;
    }

    .slogan {
        flex-basis: 70%;
    }

    .slogan h1 {
        color: #1d1d1d;
    }

    .telephone-form {
        flex-basis: 30%;
    }

    .allergy, .amputation, .authorities {
        justify-content: center;
    }

    .allergy h2, .amputation h2, .authorities h2 {
        flex-basis: 100%;
        height: 60px;
    }

    .img-allergy {
        flex-basis: 100%;
        display: flex;
        justify-content: center;
    }

    .text-effects {
        margin-top: 15px;
    }

    .img-allergy img {
        margin: 0 auto;
        /*position: relative;*/
    }

    .img-allergy span, .amputation span, .authorities span {
        right: 60px;
    }
}

@media (max-width: 870px) {
    .container {
        margin: 0 20px;
    }

    .top-header {
        flex-direction: column;
    }

    .advantages-link {
        margin: 10px;
    }

    .advantages-link h3 {
        font-size: 12px;
    }

    .logo {
    }

    .mikocin img {
        width: 70%;
    }

    .price-mikocin h2:nth-child(1) {
        font-size: 30px;
        /*bottom: 240px;*/
        bottom: 90%;
        left: 50%;
    }

    .price-mikocin h2:nth-child(2) {
        /*bottom: 140px;*/
        font-size: 30px;
        bottom: 50%;
        left: 60%;
    }

    .advantages {
        margin: 20px 0 0 0;
    }

    .info {
        flex-direction: column;
    }

    .slogan h1 {
        font-size: 35px;
        text-align: center;
    }

    .slogan h2 {
        text-align: center;
    }

    .action-link {
        margin-top: 20px;
    }

    .telephone-form {
        margin-top: 30px;
    }

    .main-content-slogan h1 {
        font-size: 40px;
        margin-bottom: 20px;
    }

    .m0ain-content-slogan h3 {
        font-size: 20px;
    }

    .effects {
        flex-direction: column;
    }

    .allergy h2, .amputation h2, .authorities h2 {
        text-align: center;
        height: 100%;
        margin: 20px 0;
    }

    .text-effects {
        margin: 0;
    }

    .text-effects hr {
        width: 20%;
    }

    .img-allergy span {
        right: 35%;
    }

    .statistics {
        margin-top: 30px;
    }

    .statistics h2 {
        margin: 30px 30px 40px 30px;
        font-size: 18px;
    }
}

@media (max-width: 870px) {
    .mikocin img {
        width: 90%;
    }

    .price-mikocin h2:nth-child(2) {
        bottom: 50%;
        left: 65%;
    }
}

@media (max-width: 570px) {
    .price-mikocin h2:nth-child(1) {
        font-size: 25px;
    }

    .price-mikocin h2:nth-child(2) {
        font-size: 25px;
    }

    .advantages {
        width: 100%;
    }

    /*.advantages-list {*/
        /*display: block;*/
    /*}*/

    /*.advantages-link {*/
        /*align-items: center;*/
        /*!*float: left;*!*/
    /*}*/

    /*.advantages-link h3 {*/
        /*font-size: 18px;*/
    /*}*/
    .advantages-link{
        display: block;
        position: relative;
        height: 40px;
    }
    .advantages-list{
        display: block;
    }
    .advantages-link h3{
        display: block;
        /*height: 40px;*/
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 55px;
        font-size: 17px;
    }
    .advantages-link img{
        width: 40px;
        height: 40px;
        float: left;
    }
}

@media (max-width: 425px) {
    .container{
        margin: 0 10px;
    }
    .price-mikocin h2:nth-child(1) {
        font-size: 20px;
    }

    .price-mikocin h2:nth-child(2) {
        font-size: 20px;
    }
    .slogan h1{
        font-size: 30px;
    }
    .slogan h2 {
        font-size: 25px;
    }
    .point-1 img, .point-2 img, .point-3 img{
        width: 40px;
    }
    .point-1:before, .point-2:before, .point-3:before {
        font-size: 15px;
    }
    @keyframes pulse {
        0%{
            width: 40px;
            height: 40px;
        }
        100%{
            width: 60px;
            height: 60px;
        }
    }
    .action-link h3{
        font-size: 17px;
        margin-left: 77px;
    }
    .main-content-slogan h1{
        font-size: 35px;
    }
    .main-content-slogan h3 {
        font-size: 20px;
    }
    .amputation{
        margin: 20px 0;
    }
    .img-allergy span, .amputation span, .authorities span {
        right: 25%;
    }
    .statistics{
        margin: 30px 0 30px 0;
    }
    .statistics h2{
        margin: 20px 5px 10px 5px;
    }
}
@media (max-width: 320px) {
    .img-allergy span, .amputation span, .authorities span {
        right: 15%;
    }

}